.profile {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "avatar favorites creations"
    "avatar favorites creations"
    "username favorites creations";
  align-items: center;
  justify-items: center;
}

.avatar {
  grid-area: avatar;
}

.username {
  grid-area: username;
  font-weight: bold;
  align-self: start;
}

@mixin gridLists {
  margin: 0;
  padding: 0;

  header {
    font-weight: bolder;
  }
}

.favorites {
  @include gridLists;
  grid-area: favorites;
}

.creations {
  @include gridLists;
  grid-area: creations;
}
