.profile {
  display: flex;
  gap: 5%;
  align-items: center;
  justify-items: center;
}

.username {
  font-weight: bold;
}

.profileLists {
  display: flex;
  flex-direction: column;

  header {
    font-weight: bolder;
  }

  a {
    font-style: italic;
  }
}
