.btn {
  width: fit-content;
}

.cancelUploadIcon {
    position: absolute;
    right: -5.5%;
    top: -8%;
    color: red;
    background-color: white;
    border-radius: 50%;

    &:hover, &:active {
        color: black;
        background-color: red;
    }
}

.dragAndDrop {
    border: 0.6rem dashed gray;
    width: 75%;
    height: 10rem;
}

.errorMessage {
    color: red;
}

.errorsList {
    list-style: none;
    width: 85%;
}

.fileInput {
    width: 75%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 10vh;
  min-width: 50%;
  padding-top: 35%;
}

.formDivider {
    width: 40%;
    border-bottom: solid black 1px;
}

.formField {
  display: flex;
  justify-content: space-between;
}

.formFieldAsContainer {
    position: relative;
    gap: 3%;
    width: 100%;
}

.formFieldset {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 3ch;
    width: 100%;
}

.formInput {
    width: 58%;
}

.formLabel {
    margin-right: 3ch;
}

.inputGroup {
    display: flex;
    gap: 0.3em;
}

.radioButtonsContainer {
    display: flex;
    gap: 1em;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
