.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: grey;
  padding: 0.4rem 0.5rem 0.5rem;
  z-index: 99999;
}

.icon {
  cursor: pointer;

  &:hover {
    color: white;
    background-color: black;
  }
}

.signOutIcon {
  color: red;
}
